<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <title>대진대 수강신청 매크로</title>
  </head>
  <body>
      <form class="container" action="/api" method="POST">
          <div class="side">
            <h2 class="titleText">과목번호 + 분반</h2>
              <div class="enroll-input">
                <input type="text" name="e1" placeholder="000000-01">
              </div>
              <div class="enroll-input">
                <input type="text" name="e2" placeholder="000000-01">
              </div>
              <div class="enroll-input">
                <input type="text" name="e3" placeholder="000000-01">
              </div>
              <div class="enroll-input">
                <input type="text" name="e4" placeholder="000000-01">
              </div>
              <div class="enroll-input">
                <input type="text" name="e5" placeholder="000000-01">
              </div>
              <div class="enroll-input">
                <input type="text" name="e6" placeholder="000000-01">
              </div>
              <div class="enroll-input">
                <input type="text" name="e7" placeholder="000000-01">
              </div>
              <div class="enroll-input">
                <input type="text" name="e8" placeholder="000000-01">
              </div>
              <div class="enroll-input">
                <input type="text" name="e9" placeholder="000000-01">
              </div>
              <div class="enroll-input">
                <input type="text" name="e10" placeholder="000000-01">
              </div>
              
            </div>
            <div class="side">
              <div class="login-input top">
                <input type="text" name="userId" placeholder="수강신청 ID">
              </div>
              <div class="login-input">
                <input type="text" name="userPw" placeholder="수강신청 PW">
              </div>
              <div class="form-input">
                <button class ="start-button" type="submit">시작</button>
              </div>
            </div>
      </form>
  </body>
</html>
